@font-face {
  font-family: "Optima";
  font-style: normal;
  font-weight: normal;
  src: local("Optima"), url("../fonts/OPTIMA.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #9ea3b0;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 40;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #9ea3b0;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #9ea3b0;
  text-decoration: none;
  color: white;
  font: 18pt "Poppins";
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #9ea3b0;
}

.header .logo {
  display: inline-block;
  font-size: 2em;
  text-decoration: none;
  color: white;
  font: 30pt "Poppins";
  font-weight: bold;
  margin: 8px 20px 8px 60px;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.2);
}

.header a:hover {
  color: #fae1df;
  cursor: pointer;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 34px 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 24px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 7px;
}

.header .menu-icon .navicon:after {
  top: -7px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 600px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  /* footbar */
  #footBarMobile {
    display: none;
  }

  #footBar {
    display: flex;
    bottom: 0;
    flex-direction: row;
    background-color: #9ea3b0;
    color: #ffffff;
    justify-content: space-between;
    margin: 0px;
    z-index: 30;
  }

  #footnavigation {
    display: flex;
    width: 350px;
    align-items: center;
    font: 18pt "Optima";
    justify-content: right;
  }
}

@media (max-width: 600px) {
  #footBar {
    display: none;
  }

  #footBarMobile {
    display: flex;
    bottom: 0;
    flex-direction: row;
    background-color: #9ea3b0;
    color: #ffffff;
    justify-content: center;
    margin: 0px;
    z-index: 30;
  }

  #footnavigation {
    display: flex;
    width: 35%;
    align-items: center;
    font: 18pt "Optima";
    justify-content: space-between;
  }
}

#footnavigation p a {
  color: #FFFFFF; 
  margin-right: 30px;
  text-decoration: none; 
}


#footBar h5 {
  justify-content: left;
  font: 14pt 'Optima';
  margin-left: 40px; 
    
}