@font-face {
    font-family: 'Pumpkin Story';
    src: /*url('myfont.woff2') format('woff2'),
         url('myfont.woff') format('woff'),*/
         url('../fonts/Pumpkin Story.ttf') format('truetype');
}

@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('../fonts/OPTIMA.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neu Bold';
    font-weight: bold;
    src: local('Helvetica Neu Bold'), url('../fonts/Helvetica Neu Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue Light';
    font-weight: normal;
    src: local('HelveticaNeue Light'), url('../fonts/HelveticaNeue Light.ttf') format('truetype');
}

body {
    font: 14pt 'Helvetica Neue';
}

#navBar {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color:#9EA3B0; 
    color: #FFFFFF;
    justify-content: space-between;
    z-index: 40;
}

#navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    font: 18pt 'Optima'; 
}

#navigation p {
    margin-right: 60pt;
}

#logo {
   margin: 7px 0px 0px 60px;
   font: 35pt 'Pumpkin Story';
}

.linkedinIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30pt;   
}

#flowers img {
    width: 100%;
}
#headline {
    position: absolute;
    left: 200px;
    top: 250px;
    max-width: 500px;
    z-index: 10;
}

#headline h1 {
    font: 42pt 'Pumpkin Story';
    color: #546A7B;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px ;
}

#headline h2 {
    font: 25pt 'Optima';
    color: #707070;  
}

 #headline h3 {
     font: 30pt 'Optima' bold;
     color: #707070;
}

#headline p {
    font: 20p 'Optima';
    color:  #707070;
    line-height: 1.5em; 
}

#avatar {
    position: absolute;
    right: 200px;
    top: 200px;
    z-index: 9;
    width: 400px;
}

#avatar img {
    width: 100%;
}
body h2 {
    text-align: center;
    margin: 50px auto;
    font: 30pt 'Helvetica Neu Bold';
    color: #0D1F2D;
}

#projectGrid {
    display: grid;
    grid-template-rows: 680px 680px 680px 680px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "pineCone-img pineCone"
    "homelandSecurity homelandSecurity-img"
    "Whats-for-Dinner-img Whats-for-Dinner" 
    "fencesForFido fencesForFido-img";
}

.projectOverview {
    margin: 180px 70px 50px 70px;
}

.projectImg img {
    width: 100%;
}
