@font-face {
    font-family: 'Pumpkin Story';
    src: /*url('myfont.woff2') format('woff2'),
         url('myfont.woff') format('woff'),*/
         url('../fonts/Pumpkin Story.ttf') format('truetype');
}

@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('../fonts/OPTIMA.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica Neu Bold';
    font-weight: bold;
    src: local('Helvetica Neu Bold'), url('../fonts/Helvetica Neu Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeue Light';
    font-weight: normal;
    src: local('HelveticaNeue Light'), url('../fonts/HelveticaNeue Light.ttf') format('truetype');
}

#logo:hover {
    color: #FAE1DF;
    cursor: pointer;
} 


/*********** NavBar **********/

#navBar {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color:#9EA3B0; 
    color: #FFFFFF;
    justify-content: space-between;
    z-index: 40;
}

#navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    font: 18pt 'Poppins'; 
    font-style: normal;
}

#navigation p {
    margin-right: 60pt;
}

#logo {
   margin: 7px 0px 0px 60px;
   font: 35pt 'Pumpkin Story';
}

.linkedinIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30pt;   
}

/*********** Hero Space **********/

/*********** Mobile **********/

@media only screen and (max-width:600px)
{
    #navigation {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: flex-start;
        font: 18pt 'Poppins'; 
        font-style: normal;
    }

    .navBar a.icon {
        /* background: black; */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      /* Style navigation menu links */
    .navigation a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
      
    #heroSpace {
        margin-bottom: 7%;
        padding-top: 70px;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        grid-template-rows: 300px 140px 300px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "flowers"
        "ava"
        "head";
    }

    #flowers {
        width: 100%;
        height: 300px;
        grid-area: flowers;
        background-image: url('../images/background_flowers.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #flowers h1, h2 {
        padding: 20px 0 0 20px;
    }

    #headline {
        grid-area: head;
        z-index: 10;
        margin: 0% 0% 20% 0%;
        text-align: center;
    }

    #headline h1
    {
        display: none;
    }

    #headline h2
    {
        display: none;
        /* margin: 20px 20px 20px 20px; */
    }

    #avatar {
        grid-area: ava;
        z-index: 9;
        display: flex;
        justify-content: center;
        position: relative;
        top: -105px;
    }

    #avatar img {
        width: 200px;
    }
    #projectGrid {
        z-index: 13;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        /* grid-template-rows: ; */
        grid-template-columns: 1fr;
        grid-template-areas:
        "pineCone-img" 
        "pineCone"
        "homelandSecurity-img"
        "homelandSecurity"
        "whats-for-Dinner-img"
        "whats-for-Dinner"
        "fencesForFido-img" 
        "fencesForFido" ;
    }

    #pineCone-img {
        grid-area: pineCone-img;
    }
    #pineCone {
        grid-area: pineCone;
        
    }
    #homelandSecurity-img {
        grid-area: homelandSecurity-img;
    }
    #homelandSecurity {
        grid-area: homelandSecurity;
    }
    #Whats-for-Dinner-img {
        grid-area: whats-for-Dinner-img;
    }
    #whats-for-Dinner {
        grid-area: whats-for-Dinner;
    }

    #fencesForFido {
        grid-area: fencesForFido;
    }
    #fencesForFido-img {
        grid-area: fencesForFido-img;
        
    }


    .projectOverview {
        margin: 70px 100px 30px 30px;
        font: 10pt 'Helvetica Neue';
    }
    
    .projectOverview h4 {
        font: 12pt 'Helvetica Neue';
        font-weight: bold;
    
    }

    /* .graphImg img {
        display: block;
        margin: auto;
        width: 50%;

    } */

 
    #resumeGrid {
        z-index: 13;
        
        justify-content: center;
        align-items: flex-start;
        z-index: 15;
        display: grid;
        /* grid-template-rows: 430px; */
        grid-template-columns: 1fr;
        grid-template-areas:
        "graph-img"
        "summary"
        
    }
    #graph-img {
        grid-area: graph-img;
        
    }
    #summary {
        grid-area: summary;
    }
   

    .summaryOverview {
        margin: 70px 70px 50px 70px;
        font: 14pt 'Helvetica Neue'
    }

    .graphImg img{
        width: 60%;
        display: flex;
        margin: 70px 40px 20px 150px; 
        
    }
    
    
}
/*********** Desktop **********/



@media only screen and (min-width:600px)
{
    #flowers 
    {
        grid-area: flowers;
        position: absolute;
    }
    
    #flowers img 
    {
        width: 100%;
        z-index: -10;
    }

    #flowers h1
    {
        display: none;
    }
    #flowers h2 
    {
        display: none;
    }

    #heroSpace {
        margin-bottom: 7%;
        background-image: url('../images/background_flowers.png');
        display: grid;
        justify-content: center;
        grid-template-rows: 1fr;
        grid-template-columns: 7fr 3fr;
        grid-template-areas:
        "head ava";
    }

    #headline {
        grid-area: head;
        z-index: 10;
        margin: 15% 0% 20% 10%;
    }
    
    #avatar {
        grid-area: ava;
        z-index: 9;
    }
    
    #avatar img {
        width: 80%;
        margin-top: 25%
    } 

    #projectGrid {
        margin-bottom: 50px;
        z-index: 10;
        display: grid;
        grid-template-rows: 680px 680px 680px 580px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "pineCone-img pineCone"
        "homelandSecurity homelandSecurity-img"
        "Whats-for-Dinner-img Whats-for-Dinner" 
        "fencesForFido fencesForFido-img";
    }
    .projectOverview  {
        margin: 70px 70px 50px 70px;
        font: 14pt 'Helvetica Neue';
    }
    
    .projectOverview h4 {
        font: 16pt 'Helvetica Neue';
        font-weight: bold; 
    }

    
    

    /*********** Desktop **********/
    
    .graphImg img {
        display: block;
        margin: auto;
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 40px;

    }

    #resumeGrid {
        z-index: 15;
        display: grid;
        grid-template-rows: 430px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "summary graph-img"
        
    }

    .summaryOverview {
        margin: 70px 70px 50px 70px;
        font: 14pt 'Helvetica Neue'
    }

    h4 {
        margin: 70px 70px 50px 70px;
        font: 20pt 'Helvetica Neue';
        font-weight: bold;
    }

    #skillsGrid {
        z-index: 17;
        margin: 70px 70px 70px 70px;
        display: grid;
        grid-template-rows: 430px 430px 500px 700px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "t-skills-img t-skills"
        "d-skills d-skills-img"
        "tools-img tools"
        "lingo lingo-img"
    }

    .bubles img {
        display: block;
        margin: auto;
        width: 65%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        }
        
        .skills-text{
            margin: 50px 70px 50px 70px;
            font: 14pt 'Helvetica Neue';
            line-height: 1,5;
        }

    }

    #lingo-img {
        display: block;
        margin: auto;
        width: 80%;
        display: flex;
        justify-content: center;
        margin-top: 150px;

    }

    #lingo img {
        width: 20px;
        height: 20px;  
    }
    #d-skills-img{
        display: block;
        margin: auto;
        width: 120%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: -100px;

}

#tools-img {
    display: block;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: -50px;

}
#t-skills-img{
    display: block;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 0px; 
}
/**********************/

#heroSpace h1 {
    font: 35pt 'Poppins';
    color: #546A7B;
    margin: 0px 0px 0px 0px ;
}

#heroSpace h2 {
    font: 15pt 'Poppins';
    font-weight: normal;
    text-align: start;
    color: #546A7B;
}

 #heroSpace h3 {
     font: 15pt 'Poppins';
     font-weight: 600;
     color: #707070;
}

#heroSpace p {
    font: 15pt 'Poppins';
    color:  #707070;
    line-height: 1.5em; 
    font-weight: normal;
}

.projectImg {
    width: 100%;
    /* display: flex;
    justify-content: center; */
}

.projectImg img {
    width: 90%;
    display: block;
    margin: auto;
}

/*******************button**********************/


.hoverMe{
    grid-area: hover;
    background-color:#546A7B;
    border-style: inherit;
    font-family: 'Optima';
    font-size: 18px;
    color: white;
    text-align: center;
    height: 50px;
    transition: 0,5s;
    border-color: #546A7B;
    border-radius: 50cm;
    position: absolute;
    right: 1100px;
    top: 600px;
    z-index: 8;
    width: 200px;
    
}


.hoverMe img {
    width: 5px;
    height: 5px;
    
}

.hoverMe:hover {
    background-color: #9EA3B0;
    border-color: #9EA3B0;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

body h2 {
    text-align: center;
    margin: 0px auto;
    font: 30pt 'Helvetica Neu Bold';
    color: #0D1F2D;
}

/*********************Footer**********************/

#footBar {
    /*position: -webkit-sticky;
    position: sticky;*/
    display:flex;
    bottom: 0;
    flex-direction: row;
    background-color:#9EA3B0; 
    color: #FFFFFF;
    justify-content: space-between;
    margin: 0px;
    z-index: 30;
}

#footnavigation {
    display: flex;
    width: 35%;
    align-items: center;
    font: 18pt 'Optima';
    justify-content: right;
}

#footnavigation p a {
    color: #FFFFFF; 
    margin-right: 30px;
    text-decoration: none; 
}


#footBar h5 {
    justify-content: left;
    font: 14pt 'Optima';
    margin-left: 40px; 
      
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
}

.preloader .triple-spinner {
    margin: 0 auto;
}

/* .preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 150px;
  margin: 0 auto;
}

html, body {
  margin: 0; padding: 0;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  } */

  .triple-spinner {
    display: block;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #546A7B;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  .triple-spinner::before,
  .triple-spinner::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 4px solid transparent;
  }
  .triple-spinner::before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #9EA3B0;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3.5s linear infinite;
  }
  .triple-spinner::after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: #F5D2CF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.75s linear infinite;
  }

  @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    
  
  @keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

/********* background animation*/
/* .hero-bkg-animated {
  background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
} */


