@font-face {
    font-family: 'Pumpkin Story';
    src: /*url('myfont.woff2') format('woff2'),
         url('myfont.woff') format('woff'),*/
         url('../fonts/Pumpkin Story.ttf') format('truetype');
}

@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('../fonts/OPTIMA.woff') format('woff');
}

body {
    font: 14pt 'Helvetica Neue';
}

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px;
    background-color:#9EA3B0; 
    color: #FFFFFF;
    justify-content: space-between;
}

#navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
    font: 18pt 'Optima'; 
}

#navigation p {
    margin-right: 60pt;
}

#logo {
   margin: 7px 0px 0px 60px;
   font: 35pt 'Pumpkin Story';
}

.linkedinIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30pt;   
}